<% include partials/_headers %>
<section class="app" >
    <aside class="sidebar" style="margin-top: 105px">
        <nav class="sidebar-nav" style="background-color:#2C3E50;" >
            <ul>
                <li>
                    <a href="#"><img src="Imagenes/way.png" style="font-size: 3.0em; padding-right: 0.5em; width: 2em; display: inline; vertical-align: middle;"></img><span>Alquileres</span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a href="#" onclick="hideshow3();"><img src="Imagenes/way.png" style="font-size: 3.0em; padding-right: 0.5em; width: 2em; display: inline; vertical-align: middle;"></img>Alquileres</a>
                        </li>
                        <li>
                            <a href="/administrar"><img src="Imagenes/back.png" style="font-size: 3.0em; padding-right: 0.5em; width: 1.4em; display: inline; vertical-align: middle;"></img>Volver</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</section>
<div class="contenedorcuatro">
    <div class="card" style="width:95%;">
        <div class="card-header" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; ">
            <h3>Alquileres</h3>
        </div>
        <div class="card-body" style="background-color:#DCDCDC; height:80%;">
            <div style=" overflow: auto; max-height:500px;">
                <table class="table table-hover" id="alquileres">
                    <thead >
                    <tr class="table-dark">
                        <th scope="col">Usuario</th>
                        <th scope="col">Fecha de Alquiler</th>
                        <th scope="col">Estación</th>
                        <th scope="col">Slot</th>
                        <th scope="col">Bicicleta</th>
                        <th scope="col">Viaje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% alq.forEach(function(alq, index) { %>
                            <tr class="table-success">
                                <td><%=alq.user %></td>
                                <td><%=alq.fechaalquiler %></td>
                                <td><%=alq.estacion %></td>
                                <td><%=alq.slot %></td>
                                <td><%=alq.bike %></td>
                                <td><%=alq.viaje %></td>
                            </tr>
                    <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script language="JavaScript">
        setInterval(function () {
            let xhr= new XMLHttpRequest();
            xhr.open('Get', '/updatealquileres', true);
            xhr.onload=function () {
                if (xhr.status == 200) {
                    updatealq(xhr.responseText);
                }
            }
            xhr.send();
        },5000);
        function updatealq(alq){
            alq = JSON.parse(alq)
            document.getElementById("alquileres").innerHTML=
                '<thead>'+
                '<tr class=\'table-dark\'>'+
                '<th scope=\'col\'>Usuario</th>'+
                '<th scope=\'col\'>Fecha de Alquler</th>'+
                '<th scope=\'col\'>Estación</th>'+
                '<th scope=\'col\'>Slot</th>'+
                '<th scope=\'col\'>Bicicleta</th>'+
                '<th scope=\'col\'>Viaje</th>'+
                '</tr>'+
                '</thead>'+'<tbody>';
            alq.forEach(element => {
                    document.getElementById("alquileres").innerHTML +=
                        '<tr class=\'table-success\'>' +
                        '<td>' + element.user + '</td>' +
                        '<td>' + element.fechaalquiler + '</td>' +
                        '<td>' + element.estacion + '</td>' +
                        '<td>' + element.slot + '</td>' +
                        '<td>' + element.bike + '</td>' +
                        '<td>' + element.viaje + '</td>' +
                        '</tr>';
            });
            document.getElementById("alquileres").innerHTML+='</tbody>'+
                '</thead>';
        }
    </script>
</div>
<% include partials/_footer %>