 <% include partials/_headers %>
<section class="app" >
    <aside class="sidebar" style="margin-top: 105px">
        <nav class="sidebar-nav" style="background-color:#2C3E50;" >
            <ul>
                <li>
                    <a href="#"><img src="Imagenes/bicinn.png" style="font-size: 3.0em; padding-right: 0.5em; width: 2em; display: inline; vertical-align: middle;"></img> <span>Bicicleta</span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a href="#" onclick="hideshow();"><i class="icon ion-md-add"></i>Agregar Bicicleta</a>
                        </li>
                        <li>
                            <a href="#" onclick="hideshow2();"><i class="icon ion-md-paper"></i>Ver Bicicletas</a>
                        </li>
                        <li>
                            <a href="/administrar" onclick="hideshow2();"><img src="Imagenes/back.png" style="font-size: 3.0em; padding-right: 0.5em; width: 1.4em; display: inline; vertical-align: middle;"></img>Volver</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</section>

<div class="contenedorcuatro">
    <div class="card" id="carbici" style="width:70%; display: none;">
        <div class="card-header" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; ">
            <h3>Bicicletas Creadas</h3>
        </div>
        <div class="card-body" style="background-color:#DCDCDC; height:80%;">
            <div id="alltable" style="display: none; overflow: auto; max-height:500px;">
                <table class="table table-hover" id="turealamiga">

                    <thead >
                    <tr class="table-dark">
                        <th scope="col">Nombre</th>
                        <th scope="col">RFID</th>
                        <th scope="col">Fecha de adquisici贸n</th>
                        <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% bicis.forEach(function(bicis, index) { %>
                        <% if (bicis.estado==="disponible") {%>
                            <tr class="table-success">
                                <td id="ident"><%= bicis.ident %></td>
                                <td id="rfid"><%= bicis.rfid %></td>
                                <td id="fechadq"><%= bicis.fechadq %></td>
                                <td id="estado"><%= bicis.estado %></td>
                            </tr>
                        <%}%>
                        <% if (bicis.estado==="ocupado") {%>
                            <tr class="table-light">
                                <td><%=bicis.ident%></td>
                                <td><%=bicis.rfid%></td>
                                <td><%=bicis.fechadq%></td>
                                <td><%=bicis.estado%></td>
                            </tr>
                        <%}%>
                        <% if (!bicis.estado){%>
                            <tr class="table-secondary">
                                <td><%=bicis.ident%></td>
                                <td><%=bicis.rfid%></td>
                                <td><%=bicis.fechadq%></td>
                                <td><%=bicis.estado%></td>
                            </tr>
                        <%}%>
                    <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script language="JavaScript">
    setInterval(function () {
        let xhr= new XMLHttpRequest();
        xhr.open('Get', '/updatebicicletas', true);
        xhr.onload=function () {
            if (xhr.status == 200) {
                updateBicis(xhr.responseText);
            }
        }
        xhr.send();
    },5000);
    function updateBicis(bikes){
        bikes = JSON.parse(bikes)
        document.getElementById("turealamiga").innerHTML=
            '<thead>'+
            '<tr class=\'table-dark\'>'+
            '<th scope=\'col\'>Nombre</th>'+
            '<th scope=\'col\'>RFID</th>'+
            '<th scope=\'col\'>Fecha de adquisici贸n</th>'+
            '<th scope=\'col\'>Estado</th>'+
            '</tr>'+
            '</thead>'+'<tbody>';
        bikes.forEach(element => {
            if (element.estado==="disponible") {
                document.getElementById("turealamiga").innerHTML +=
                    '<tr class=\'table-success\'>' +
                    '<td id=\'ident\'>' + element.ident + '</td>' +
                    '<td id=\'rfid\'>' + element.rfid + '</td>' +
                    '<td id=\'fechadq\'>' + element.fechadq + '</td>' +
                    '<td id=\'estado\'>' + element.estado + '</td>' +
                    '</tr>';
            }
            else if (element.estado==="ocupado") {
                document.getElementById("turealamiga").innerHTML +=
                    '<tr class=\'table-warning\'>' +
                    '<td id=\'ident\'>' + element.ident + '</td>' +
                    '<td id=\'rfid\'>' + element.rfid + '</td>' +
                    '<td id=\'fechadq\'>' + element.fechadq + '</td>' +
                    '<td id=\'estado\'>' + element.estado + '</td>' +
                    '</tr>';
            }
            else {
                document.getElementById("turealamiga").innerHTML +=
                    '<tr class=\'table-primary\'>' +
                    '<td id=\'ident\'>' + element.ident + '</td>' +
                    '<td id=\'rfid\'>' + element.rfid + '</td>' +
                    '<td id=\'fechadq\'>' + element.fechadq + '</td>' +
                    '<td id=\'estado\'>' + element.estado + '</td>' +
                    '</tr>';
            }
        });
        document.getElementById("turealamiga").innerHTML+='</tbody>'+
            '</thead>';
    }
</script>
    <div class="card" id="adbici" style="height:350px; width:250px; display: none;">
        <div class="card-header" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; ">
            <h3>Agregar Bicicleta</h3>
        </div>
        <div class="card-body" >
            <form id="formbici" style="display:block" action="/addbici" method="post">
                <div class="form-group">
                    <input type="text" name="ident" pattern="[a-z0-9]+" required title="Campo obligatorio." placeholder="Nombre identificador" class="form-control">
                </div>
                <div class="form-group">
                    <select class="custom-select" name="rfid">
                        <option selected="" required>Elija RFID </option>
                        <% rfid.forEach(function (rfid, index) {%>
                            <option value="<%=rfid.rfid%>"><%=rfid.rfid%></option>
                        <%})%>
                    </select>
                </div>
                <div class="form-group" >
                    <input type="date" name="fechadq" required placeholder="Fecha de adquisici贸n" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Agregar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="contenedorcinco">
    <div class="card" id="verubi" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; width: 100%">
        <div class="card-header">
            <h3 >Ubicaci贸n</h3>
            <select id="valorbici" name="biciubi" class="custom-select" style="border:none; background-color:transparent; float:top; width:200px; font-weight:bold; color:whitesmoke;">
                    <% bicis.forEach(function(bicis, index) { %>
                         <option style="color: black;" value="<%=bicis.ident%>"><%=bicis.ident%></option>
                    <%})%>
            </select>
        </div>
        <div class="card-body" style="background-color:#DCDCDC; height: 85%">
            <div id="mapubi" class="map" style="height:100%; width:100%;">
                <div class="card-body" style="background-color:#DCDCDC; height: 85%">
                    <div id="mapubi" class="map" style="height:100%; width:100%;">
                        <script>
                            var mapnew = L.map('mapubi').setView([19.4436,-70.6827], 16);
                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                             }).addTo(mapnew);

                            let latlon;


                            function getdata () {
                                let xhr= new XMLHttpRequest();
                                var e = document.getElementById("valorbici");
                                var strUser = e.options[e.selectedIndex].value;
                                biciubi = strUser;
                                console.log(biciubi);
                                var punto;
                                xhr.open('get', '/ubicacion?biciubi='+biciubi, true);
                                xhr.onload=function () {
                                    if (xhr.status == 200) {
                                        punto=JSON.parse(xhr.responseText);
                                        updateubi(punto[0]);
                                    }
                                }
                                xhr.send();
                            }
                            function updateubi(puntos){
                                latlon=puntos.punto;
                                console.log("el punto es"+latlon);
                            }
                            var marker;
                            var newicon = L.icon({iconUrl:'Imagenes/bicycleiconn.png', popupAnchor: [-3, -76]});
                            setInterval(function () {
                                getdata();
                                 if (marker != undefined) {
                                     mapnew.removeLayer(marker);
                                }

                                mapnew.setView(latlon, mapnew.getZoom());
                                marker = L.marker(latlon).addTo(mapnew).bindPopup('Hola');

                            },1000)
                        </script>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<% include partials/_footer %>