<% include partials/_headers %>
<section class="app" >
    <aside class="sidebar" style="margin-top: 105px">
        <nav class="sidebar-nav" style="background-color:#2C3E50;" >
            <ul>
                <li>
                    <a href="#"><img src="Imagenes/mapofroadsb.png" style="font-size: 3.0em; padding-right: 0.5em; width: 2em; display: inline; vertical-align: middle;"></img><span>Viajes</span></a>
                    <ul class="nav-flyout">
                        <li>
                            <a href="#"><i class="icon ion-md-paper"></i><span>Ver Viajes</span></a>
                        </li>
                        <li>
                            <a href="/administrar" onclick="hideshow2();"><img src="Imagenes/back.png" style="font-size: 3.0em; padding-right: 0.5em; width: 1.4em; display: inline; vertical-align: middle;"></img>Volver</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
</section>
<div class="contenedorcuatro">
    <div class="card" style="width:95%;">
        <div class="card-header" style="background-color:#2C3E50; font-weight: bold; color:#D3D3D3; ">
            <h3>Viajes</h3>
        </div>
        <div class="card-body" style="background-color:#DCDCDC; height:80%;">
            <div style=" overflow: auto; max-height:500px;">
                <table class="table table-hover" id="viajes">
                    <thead >
                    <tr class="table-dark">
                        <th scope="col">Viaje</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Estaci贸n origen</th>
                        <th scope="col">Estaci贸n destino</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Fin</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% viaje.forEach(function(alq, index) { %>
                        <tr class="table-success">
                            <td><%=viaje.viaje %></td>
                            <td><%=viaje.usuario %></td>
                            <td><%=viaje.estacionorigen %></td>
                            <td><%=viaje.estaciondestino %></td>
                            <td><%=viaje.fechainicio %></td>
                            <td><%=viaje.fechafin %></td>
                        </tr>
                    <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script language="JavaScript">
        setInterval(function () {
            let xhr= new XMLHttpRequest();
            xhr.open('Get', '/updateviajes', true);
            xhr.onload=function () {
                if (xhr.status == 200) {
                    updateviaj(xhr.responseText);
                }
            }
            xhr.send();
        },5000);
        function updateviaj(viaj){
            viaj = JSON.parse(viaj)
            document.getElementById("viajes").innerHTML=
                '<thead>'+
                '<tr class=\'table-dark\'>'+
                '<th scope=\'col\'>Viaje</th>'+
                '<th scope=\'col\'>Usuario</th>'+
                '<th scope=\'col\'>Estaci贸n origen</th>'+
                '<th scope=\'col\'>Estaci贸n destino</th>'+
                '<th scope=\'col\'>Fecha Inicio</th>'+
                '<th scope=\'col\'>Fecha Fin</th>'+
                '</tr>'+
                '</thead>'+'<tbody>';
            viaj.forEach(element => {
                document.getElementById("viajes").innerHTML +=
                    '<tr class=\'table-success\'>' +
                    '<td>' + element.viaje + '</td>' +
                    '<td>' + element.usuario + '</td>' +
                    '<td>' + element.estacionorigen + '</td>' +
                    '<td>' + element.estaciondestino + '</td>' +
                    '<td>' + element.fechainicio + '</td>' +
                    '<td>' + element.fechafin + '</td>' +
                    '</tr>';
            });
            document.getElementById("viajes").innerHTML+='</tbody>'+
                '</thead>';
        }
    </script>
</div>
<% include partials/_footer %>